
body{
    margin:0px;

}
#canvas{
       background:#185959; 
       background-image:linear-gradient(to bottom right,#4F8C8C,#185959);
   /* background-image: radial-gradient(#014023, #012615, #000D06);#474747*/
    position :fixed;
    top:0px;
    left:0px;
}
.parent{
   position: relative;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   height:1500px;
}
 .wrapper{
     position:relative;
 }

 .logo{
    position: absolute;
     width: 100%;
    text-align: center;

 }
.covidLogo{
    text-align: center;
     
     color:#D9B573;
     font-weight: 600;
    font-size: 80pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(#F5F5F0, #CACAC6);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.topbar{
    position:sticky;
    top:0;
    visibility:hidden;
    overflow: auto;

}
#toptable{
    width: 80%;
    height:1em;
    text-align: center;
    margin:0 auto;
   
}
.othertables{
    width: 80%;
    height:1em;
    
    text-align: center;
    margin:0 auto;
}
td{
    vertical-align: middle;
  
    padding: 0.5em;
    width:20%;
   
}
th{
    
    width:20%;
}

.tableheadtext{
    font-size: 1.5em;
    color:black;
    background-color: #F2A516;
    padding-left:0.5em;
    padding-right: 0.5em;
}
.tabletext{
    background-color: white;
    color:black;
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.statewise{
    position: relative;
    height:400px;
}
.delta{
    background-color: #FF003C;
    color: white;
    font-size: 1em;
    font-weight: 200;
    padding:2px 4px;
}
.deltaRecover{
    background-color: black;
    color:greenyellow;
    font-size: 1em;
    padding: 2px 2px;
    
}