body{
    margin:0px;

}
#canvas{
       background:#474747;
   /* background-image: radial-gradient(#014023, #012615, #000D06);*/
    position :fixed;
    top:0px;
    left:0px;
}
.parent{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   height:1500px;
}
    

.covidLogo{
   position: absolute;
        
     text-align: center;
     color:#D9B573;
     font-weight: 600;
    font-size: 80pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(#F5F5F0, #CACAC6);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.topbar{
    /*background-color: #BF9056;*/
    background-color: #6C6D70;
    visibility: hidden;
    box-sizing: border-box;
    margin:10px;
    position: sticky;
    top:10px;
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    border-radius:25px;
    margin:20px;
    overflow: hidden;
   z-index: 50;
}
.topbar div{
text-align: center;
color:#F5F5F0;/*052620*/
font-weight: bolder;
font-size: 20px;
padding:5px;
}
.otherBar{
    visibility:hidden;
    
    box-sizing: border-box;
    background-color: #6C6D70;
    margin-left:35px;
    margin-right: 35px;
    position: sticky;
    top:80px;
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    border-radius:25px;
   z-index: 50;
}
.otherBar div{
text-align: center;
color:white;/*052620*/
font-weight: bolder;
font-size: 17px;
padding:20px;
}
.bartext{
    color:#CACAC6;
}
.statewise{
    position: relative;
    height:400px;
}
.delta{
    color:#F05A26;
    font-size: medium;
}
.deltaRecover{
    color:greenyellow;
    
}