#IN-UP:hover, #IN-BR:hover, #IN-PB:hover ,#IN-RJ:hover ,#IN-AN:hover,#IN-AP:hover,#IN-AR:hover
,#IN-AS:hover,#IN-CH:hover,#IN-CT:hover,#IN-DD:hover,#IN-DL:hover,#IN-DN:hover,#IN-GA:hover
,#IN-GJ:hover,#IN-HP:hover,#IN-HR:hover,#IN-JH:hover,#IN-JK:hover,#IN-KA:hover,#IN-KL:hover
,#IN-LD:hover,#IN-MH:hover,#IN-ML:hover,#IN-MN:hover,#IN-MP:hover,#IN-MZ:hover,#IN-NL:hover,#IN-OR:hover
,#IN-PY:hover,#IN-SK:hover,#IN-TG:hover,#IN-TN:hover,#IN-TR:hover,#IN-UT:hover,#IN-WB:hover{
    fill:yellow;
}

svg{
    pointer-events: auto;
}
#indiamap{
    -webkit-filter: drop-shadow( 4px 4px 30px rgba(0, 0, 0, .7));
  filter: drop-shadow( 4px 4px 30px rgba(0, 0, 0, .7));
}
.sliderbtn{
    width:30px;
    height:30px;
   vertical-align: middle;
   background: "#9600E8";
}
.slider{
    width: 100%;
    text-align: center;
    margin:10px auto;
    vertical-align: middle;
}
.rangeselectors{
    position: relative;
    vertical-align: middle;
    -webkit-appearance: none;
    width:80%;
    height: 5px;
    margin:auto;
  border-radius: 5px;  
  background: black;
  
  outline: none;
   

}
#dateselector::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #1700E8;
    cursor: pointer;
  }
  
#dateselector::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1700E8;
    cursor: pointer;
  }
  #dateholder{
      margin: auto;
      background-image:linear-gradient(to right,#1700E8,#9600E8);
      color: white;
      font-size: 6vw;
   
      padding: 1vw 2vw;
      border-radius: 15px;
  }
  #mapdisplay{
    position: relative;
    width:100vw;
    height:113.71vw;
}
.svgimagebound{
    position: absolute;
    top:0px;
    left:0px;
   width: 100%;
   margin-top: 10px;
   pointer-events: none;
}
#visualcanvasmap{
    background:transparent;
        pointer-events: none;
        width:100%;
}
#settingsbackground{
position: fixed;
display:none;
top:0px;
left:0px;
bottom:0px;
width:100%;
background-image: linear-gradient(to bottom right(#9600E8,#1700E8));
backdrop-filter: blur(8px);
 opacity: 0.9;
height: 100%;
z-index:101;
}
#mainsettings{
    z-index: 102;
    position: fixed;
top:20vh;
left:15vw;
width:70%;

height: 60vh;
border-radius: 20px;
text-align: end;
}
#mainsettingsbackground{
    z-index: 103;
    position: absolute;
   background:white;
   height:100%;
   width: 100%;
backdrop-filter: blur(8px);
 opacity: 0.7;

border-radius: 20px;
}
#settingscontent{
    position: relative;
   z-index: 105;
        
}
#closebtn{
     margin-right: 10px;
     margin-top: 10px;
     width:35px;
     height:35px;
             
 }
 #settings{
     position: relative;
     
    
     vertical-align: bottom;
     
 }